@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,600i,700,700i|Righteous&display=swap');

/*------------------------------------------ Background */

body {
    background-color: #000;
}

.grey-block {
    background-color: #171717;
}

.skewed-divider-c{
  width:100%;
  height: 50px;
  position: absolute;
  background: linear-gradient(to left bottom, #000 49%, #171717 50%);
}

.skewed-divider-cc{
  width:100%;
  height:75px;
  position: absolute;
  background: linear-gradient(to right bottom, #171717 49%,#000 50%), linear-gradient(-50deg, #ffffff 16px, #000 0);
}

/*------------------------------------------ Font & Font Color */

p   {
    font-family: "Asap", sans-serif;
    color: #a3a3a3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Righteous", sans-serif;
    color: #c6eef7;
}

.fa-chevron-down,
.fa-chevron-up {
    color: #403f3f
}

.fa-info-circle {
    color: #c6eef7;
}


/*------------------------------------------ Body */

body {
    width: 100%;
    margin: 0;
}

.container {
    max-width: 100%;
    padding: 20px 10px 5px 10px;
}

.row {
    margin: 0;
}

.item-heading {
    padding: 10px;
    cursor: pointer;
}

.item-text {
    padding: 20px;
}

.image-container {
    padding: 0px;
}

.image-container img {
    object-fit: contain;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 20px;
}

.introduction {
    padding-top: 120px;
}
    
.dashboard h2 {
    padding: 30px;
    text-align: center;
}

.variance {
    padding-bottom: 40px;
}


/*------------------------------------------ Accordion */

.accordionwrapper {
    width: 80%;    
}

.item-heading:hover {
    opacity: 0.7;
    -webkit-transition: .3s ease-in;
    transition: opacity .3s ease-in;
}

.item-closed {
    height: 0px;
    transform: scaleY(0);
    transform-origin: top;
    -webkit-transition: transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out;
}

.item-opened {
    border: 1px solid #252424;
    height: auto;
    transform: scaleY(1);
    transform-origin: top;
    -webkit-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}


/*------------------------------------------ Dasboard */

.dashboard {
    padding: 40px 20px 20px 20px;
}

.dashboard-item-description {
    font-size: 12px;
    font-style: italic;
}

.tooltip .tooltip-inner {
    font-family: "Asap", sans-serif;
    background-color: #c6eef7;
    color: #000;
}

.slider-container {
    text-align: center;
    width:250px;
    padding: 20px;
}

.slider {
  -webkit-appearance: none;
  width: 200px;
  height: 4px;
  border-radius: 5px;
  background: #3b3b3b;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 20px;
  border-radius: 20%;
  background: #c6eef7;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #c6eef7;
  cursor: pointer;
}

.calculator-output {
    padding: 20px;
}

#riskofruinOutput,
#riskofdrawdownOutpout,
#maxlossOutput,
#maxwinOutput {
    font-family: "Righteous", sans-serif;
    color: #c6eef7;
    font-size: 40px;
}


/*------------------------------------------ Media Queries */

@media only screen and (max-width: 767px) {
    .item-heading,
    .item-text,
    .dashboard {
        text-align: center;
    }

    .accordionwrapper {
    width: 95%;    
    }

    .image-container img {
        text-align: center;
    }

    .dashboard-item-title {
    font-size: 18px;
    font-style: bold;
    color: #c6eef7;
    }

    .slider-container i,
    .calculator-output i {
        display: none;
    }

    .slider {
        opacity: 1;
    }
    
    .slider::-webkit-slider-thumb {
        width: 20px;
        height: 25px;
    }
}


/*------------------------------------------ Footer */

.footer-container {
    background-color: #171717;
    padding: 20px;
}

footer p {
    margin: 0;
    font-size: 12px;
}